body {
    background: #efe6e4 url(../images/fon-heder.png) no-repeat top center;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: normal;
    color: #533738;
    background-color: #e5e5e5;

}

a {
    color: #533738;
    text-decoration: none;
}

a:hover {
    color: #cc8b86;
}

a:focus {
    color: #99544f;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 1036px;
}

.wide-container {
    margin: 0 auto;
    width: 1200px;
}

.button {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 26px 69px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border: 2px solid #cc8b86;
    background-color: #cc8b86;
}


.button:hover {
    color: #cc8b86;
    border-color: white;
    background-color: white;
}

.button:focus {
    color: #99544f;
    border: 2px solid #99544f;
    background-color: white;
}

.section-heading {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
}


/* Стили для heder */

.page-header .wide-container {
    display: flex;
    align-items: flex-end;
    align-self: normal;
    margin-top: 42px;
}

/* .page-header .wide-container>a {
    display: block;
} */
.logo {
    display: flex;
    align-items: flex-end;
    align-self: normal;
    margin-right: 83px;
    font-size: 16px;
    line-height: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 42px;
}

.nav-item {
    margin-right: 24px;
    font-size: 16px;
    line-height: 20px;
}

.phone {
    font-size: 16px;
    line-height: 20px;
}

/* Стили для промо блока */

.promo {
    padding-top: 150px;
    padding-bottom: 166px;
    /* background-color: #ded7cb;
    background-image: url("../images/fon-heder.png");
    background-size: cover;
    background-repeat: no-repeat; */
}

.promo-text {
    width: 46%;
}

.main-heading {
    margin-top: 0;
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
}

.promo-description {
    margin-top: 0;
    margin-bottom: 21px;
}

/* Стили для блока "О нас" */

.about {
    padding-top: 65px;
    padding-bottom: 20px;
}

.half-wrap {
    display: flex;
}

.about-img {
    align-self: flex-start;
    margin-right: 64px;
}

.text-wrap {
    width: 45%;
}

.text-wrap p {
    margin-top: 0;
    margin-bottom: 29px;
}