body {
    font-family: 'Montserrat', sans-serif;
    background: #efe6e4 url(../images/fon-heder.png) no-repeat top center;

}
a {
    color: #533738;
    text-decoration: none;
}

a:hover {
    color: #cc8b86;
}

a:focus {
    color: #99544f;
}

.container {
    margin: 0 auto;
    width: 1036px;
}

.wide-container {
    margin: 0 auto;
    width: 1200px;
}

/* Стили для heder */

.page-header.wide-container {
    display: flex;
    align-items: baseline;
}
.page-header.wide-container>a {
    display: block;
}
.logo {
    display: flex;
}
.nav-list {
    display: flex;
}