body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #efe6e4; */
}
header {
    background-image: url(../images/fon-heder.png);
    background: size 100%;
    background-repeat: no-repeat;
   width: 1400px;
   margin: 0 auto;
   background-color: #efe6e4;
}
main {
    width: 1400px;
    margin: 0 auto;
    background-color: #efe6e4;
}
footer {
    width: 1400px;
    margin: 0 auto; 
    background-color: #efe6e4; 
}

.wrapper {
    max-width: 1170px;
    border: 1px solid #000;
    margin: 0 auto;
}



h1 {
    font-size: 16px;
    line-height: 20px;
    color: #533738;
    position: relative;
    margin-left: 1.5em;
}

h1::before {
    content: url(../images/logo.svg);
    position: absolute;
    top: -0.2em;
    right: 4em;
}
h2 {
    font-style: normal;
font-weight: normal;
    font-size: 40px;
line-height: 50px;
text-transform: uppercase;
color: #533738;
text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-basis: 70%;
}

ul>li {
    padding: 1%;
}

ul>li>a {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #533738;
}

nav>p>a {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #533738;
}

.header-application {
    width: 45%;
    margin-left: 85px;
    margin-bottom: 170px;
}

.header-application>p {
    width: 80%;
    margin-top: 25px;
    margin-bottom: 50px;
}

.header-application>a {
    text-decoration: none;
    background-color: #CC8B86;
    padding: 25px 65px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;
}

.slogan {
    font-size: 50px;
    line-height: 62px;
    color: #533738;
}

.text {
    font-size: 18px;
    line-height: 30px;
}

.about-img {
    display: block;
    float: left;
    margin-bottom: 20px;
}


.about>h2 {
    text-align: center;
}


.dark {
    color: #533738;
}

.experience {
    clear: both;
    background: #8D7370;
}

.our-work {}

.work1 {}

.white {}

.work2 {}

.work3 {}

.work4 {}

.team {}

.member-team {}

.member1 {}

.member2 {}

.member3 {}

.road-map {}

.number {}

.testimonials {}

.flip-left {}

.cite {}

.images {}

.flip-right {}

.application {}